<nav class="navbar navbar-expand-lg navbar navbar-dark fuente" style="background-color: #0d7e84;">
  <div class="container-fluid">
       <a class="navbar-brand" style=" font-size: x-large; font-weight:200;" href="./reactive/logeado">
        Manejo de Torneos
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="./reactive/agregar">Agregar</a> -->
        <a class="nav-link" href="./reactive/jugadores">Jugadores</a>
        <a class="nav-link" href="./reactive/torneos">Torneos</a>
        <a class="nav-link" href="./reactive/equipos">Equipos</a>
        <a class="nav-link" href="./reactive/arbitros">Arbitros</a>
<!--         <a class="nav-link" href="./reactive/fechas">Fechas</a>
 -->        <a class="nav-link" href="./../../auth/pages/login" (click)="logout()">Cerrar Sesión</a>

      </div>
    </div>
  </div>
</nav>