@font-face {
    font-family: "Food";
    src: url(Fingerfood\ DEMO.otf);
}

@font-face {
    font-family: "FoodPacker";
    src: url(Foodpacker.otf);
}

@font-face {
    font-family: "University";
    src: url(University.otf);
}

@font-face {
    font-family: "AllStar";
    src: url(Allstar.ttf);
}